h1 {
    color: #f00;
}

.p-fsize-small {
    font-size: small;
}

.p-fsize-medium {
    font-size: medium;
}

.p-fsize-large {
    font-size: large;
}

.p-fstyle-normal {
    font-style: normal;
}

.p-fstyle-italic {
    font-style: italic;
}

.p-fw-normal {
    font-weight: normal;
}

.p-fw-bold {
    font-weight: bold;
}

.p-pad-0 {
    padding: 0px
}

.p-pad-10 {
    padding: 10px
}

.p-pad-20 {
    padding: 20px
}

.img-squared {
    width: 350px;
    height: 350px;
}

.img-portrait {
    width: 300px;
    height: 400px;
}

.img-landscape {
    width: 400px;
    height: 300px;
}

.p-aitem-start {
    align-items: flex-start;
}

.p-aitem-center {
    align-items: flex-center;
}

.p-aitem-end {
    align-items: flex-end;
}

div {
   /* border:1px solid #ccc; */
}

.node-c {
    display: flex;
    border: 1px solid #ccc;
}

.node-sc {
    flex-grow: 1;
    padding: inherit;
}

